.container  {
    position: fixed;
     width: 100%;
    top:0;
    text-align: center;
    z-index: 1;
    background-color: brown;
    
}
.scrollPrgress{
    width: 100%;
    height: 10px;
    background: rgb(171, 227, 16);
}
.currentProgress{
    height: 10px;
    background: blue;
    width: 0%;
}
.data{
    margin-top: 100px;
}